extends ../layout
block header
    if(logged_in)
        include ../blocks/header_logged_in
    else
        include ../blocks/header
block content
    include ../blocks/login-signup-form
block footer
    include ../blocks/footer