extends ../layout
block header
    if(logged_in)
        include ../blocks/header_logged_in
    else
        include ../blocks/header
block content
    include ../blocks/cart
    //include ../blocks/slider
    include ../blocks/menu
    include ../sections/what-can-do
    //include ../sections/start-studying
    include ../sections/events
    //include ../sections/site-activities
    include ../sections/blog
block footer
    include ../blocks/footer

