extends ../layout
block header
    if(logged_in)
        include ../blocks/header_logged_in
    else
        include ../blocks/header
block content
    .space100
    .space100
    .container HOMEPAGE
    .space100
    .space100

block footer
    include ../blocks/footer

