extends ../layout
block header
    if(logged_in)
        include ../blocks/header_logged_in
    else
        include ../blocks/header
block content
    include ../blocks/cart
    h1 контакт
block footer
    include ../blocks/footer