// START SIDEBAR
.right_sidebar.bg_greydark.nicescrool
    a.right_sidebar_btn_close.btn_icon.small.bg_red.radius.white.absolute_right10.shadow
        i.icon-power
    // start CART
    .margin020
        .space20
        h4.white YOUR CART
        .space20
        .divider.left.small
            span.bg_white.radius
    .textevidence
        .margin20
            ul.list.relative
                li
                    img.absolute.radius.opacity.width60(alt='', src='../images/woocommerce/small/img1.jpg')
                    .activity.marginleft80
                        h5.grey.subtitle BOOK CHILDREN
                        .space10
                        p 1 x $ 254,00
                    .space30
                li
                    img.absolute.radius.opacity.width60(alt='', src='../images/woocommerce/small/img3.jpg')
                    .activity.marginleft80
                        h5.grey.subtitle BOOK FOR KIDS
                        .space10
                        p 1 x $ 254,00
                    .space10
    .margin020
        h5.grey
            | SUBTOTAL:
            span.white.subtitle $ 754,00
        .space20
        .focus
            a.btn.bg_green.small.shadow.radius.white(href='#')
                i.icon-basket-1
                |   VIEW CART
    // end CART
    // start FILTER
    .margin020
        .space60
        h4.white FILTER PRICE
        .space20
        .divider.left.small
            span.bg_white.radius
    .margin020.block
        .space20
        .radius.bg_greydark2.slider_range
        .space20
    .margin020
        input.bg_greydark.white.subtitle.small.padding0.slider_amount(type='text')
        .space20
        a.btn.bg_yellow.small.shadow.radius.white(href='#')
            i.icon-money-1
            |   FILTER
    // END FILTER
    // start PRODUCTS
    .margin020
        .space60
        h4.white BEST BOOKS
        .space20
        .divider.left.small
            span.bg_white.radius
    .textevidence
        .margin20
            ul.list.relative
                li
                    img.absolute.radius.opacity.width60(alt='', src='../images/woocommerce/small/img2.jpg')
                    .activity.marginleft80
                        h5.grey.subtitle BOOK STUDENT
                        .space10
                        p
                            i.icon-star.yellow
                            i.icon-star.yellow
                            i.icon-star.yellow
                            i.icon-star.yellow
                            i.icon-star-half-alt.yellow
                    .space30
                li
                    img.absolute.radius.opacity.width60(alt='', src='../images/woocommerce/small/img4.jpg')
                    .activity.marginleft80
                        h5.grey.subtitle BOOK EDUCATION
                        .space10
                        p
                            i.icon-star.yellow
                            i.icon-star.yellow
                            i.icon-star.yellow
                            i.icon-star.yellow
                            i.icon-star-half-alt.yellow
                    .space30
                li
                    img.absolute.radius.opacity.width60(alt='', src='../images/woocommerce/small/img1.jpg')
                    .activity.marginleft80
                        h5.grey.subtitle BOOK PRIMARY
                        .space10
                        p
                            i.icon-star.yellow
                            i.icon-star.yellow
                            i.icon-star.yellow
                            i.icon-star.yellow
                            i.icon-star-half-alt.yellow
                    .space10
    // end PRODUCTS
    // start SEARCH
    .margin020
        .space40
        h4.white SEARCH YOUR BOOKS
        .space20
        .divider.left.small
            span.bg_white.radius
    .margin20
        input.bg_greydark2.radius.shadow.grey.small.subtitle(type='text', value='', placeholder='KEYWORD')
        .space20
        a.btn.bg_blue.small.shadow.radius.white(href='#')
            i.icon-search-outline
            |   SEARCH
    // end SEARCH
    // start TAGS
    .margin020
        .space40
        h4.white PRODUCTS TAGS
        .space20
        .divider.left.small
            span.bg_white.radius
    .margin10
        a.btn.bg_greydark2.small.shadow.radius.white.subtitle.margin10(href='#') Teacher
        a.btn.bg_greydark2.small.shadow.radius.white.subtitle.margin10(href='#') Baby
        a.btn.bg_greydark2.small.shadow.radius.white.subtitle.margin10(href='#') Kids
        a.btn.bg_greydark2.small.shadow.radius.white.subtitle.margin10(href='#') Teacher
        a.btn.bg_greydark2.small.shadow.radius.white.subtitle.margin10(href='#') Teacher
        a.btn.bg_greydark2.small.shadow.radius.white.subtitle.margin10(href='#') Baby
        a.btn.bg_greydark2.small.shadow.radius.white.subtitle.margin10(href='#') Kids
        a.btn.bg_greydark2.small.shadow.radius.white.subtitle.margin10(href='#') Teacher
        a.btn.bg_greydark2.small.shadow.radius.white.subtitle.margin10(href='#') Teacher
        a.btn.bg_greydark2.small.shadow.radius.white.subtitle.margin10(href='#') Baby
        a.btn.bg_greydark2.small.shadow.radius.white.subtitle.margin10(href='#') Kids
        a.btn.bg_greydark2.small.shadow.radius.white.subtitle.margin10(href='#') Teacher
        a.btn.bg_greydark2.small.shadow.radius.white.subtitle.margin10(href='#') Teacher
        a.btn.bg_greydark2.small.shadow.radius.white.subtitle.margin10(href='#') Baby
        a.btn.bg_greydark2.small.shadow.radius.white.subtitle.margin10(href='#') Kids
        a.btn.bg_greydark2.small.shadow.radius.white.subtitle.margin10(href='#') Teacher
    // end TAGS
// END SIDEBAR