footer
    .section.bg_greydark2
        // start container
        .container.clearfix
            .grid.grid_6.aligncenter_iphoneland.aligncenter_iphonepotr
                .space20
                p.white
                    | © Copyright 2014
                    span.grey StudyStar
                    | Themes.com - Made With
                    i.icon-heart-filled.red.zoom
                    |  In Venice
            .grid.grid_6
                .focus.right.aligncenter_iphoneland.aligncenter_iphonepotr
                    .margin10
                        a.facebook.press.right.btn_icon.small.radius.white(href='#')
                            i.icon-facebook-1
                    .margin10
                        a.press.right.btn_icon.bg_red.shadow.small.radius.white(href='#')
                            i.icon-gplus
                    .margin10
                        a.press.right.btn_icon.bg_blue.shadow.small.radius.white(href='#')
                            i.icon-twitter-1
                    .margin10
                        a.zoom.internal_link.right.btn_icon.bg_greydark2.small.radius.white(href='#begin')
                            i.icon-up-outline
