header(ng-controller="headerCtrl")
    .section.navigation.fade-down
        .menu_boxed
            .section.bg_greydark.displaynone_responsive(style="position: relative;")
                .container.clearfix
                    .grid.grid_5
                        .focus.left
                            //kkkk




                    .grid.grid_7(style='max-height: 13px;')


                        .right
                            h6.white.user_block
                                .controls
                                    //here can be control buttons such as Exit settings etc.
                                    i.icon-lock-1
                                    a.white(href='/logout') ВЫХОД
                                .user_block
                                    img.user_avatar(alt='user' ng-src='{{avatar}}')
                                    a(ng-href="/page1/{{name}}", ng-bind="name").header_username




            .space3.bg_gradient
            .section.bg_grey.shadow.radius_bottom
                .container.clearfix
                    .grid.grid_12.percentage
                        .space10
                        .logo.marginleft10
                            a(href='/')
                                h4(style='font-family: "hubert";font-size: 25px;line-height: 29px;color: #868585;') NODE IS COOL
                        //a.btn_icon.zoom.bg_yellow_hover.right_sidebar_btn_open.marginright10.bg_orange.extrasmall.radius.white.right
                            //i.icon-basket-1 link to the cart!
                        nav
                            ul.menu.margin010.padding50
                                li.orange
                                    a(href='/') MAIN
                                li.red
                                    a(href='/page2/main') PAGE 2
                                li.blue
                                    a(href='/page3') PAGE 3
                                li.yellow.megamenu
                                    a(href='/page4') PAGE 4
                                li.green
                                    a(href='/page5') PAGE 5
                        .space10
                // end container
            // end header