section.section.margintop45_negative
    // start container
    .container.clearfix
        .grid.grid_12.percentage.nomargin
            .textevidence.center
                .textevidence.width_percentage25.bg_blue.shadow.radius_left
                    .textevidence
                        .margin30
                            h2.white.subtitle
                                a.white(href='courses.html') КУРСЫ
                        i.zoom.icon-pencil-2.iconbg.left.extrabig.blue.displaynone_ipadland.displaynone_ipadpotr
                .textevidence.width_percentage25.bg_yellow.shadow
                    .textevidence
                        .margin30
                            h2.white.subtitle
                                a.white(href='prices.html') ЦЕНЫ
                        i.zoom.icon-money-1.iconbg.left.extrabig.yellow.displaynone_ipadland.displaynone_ipadpotr
                .textevidence.width_percentage25.bg_orange.shadow
                    .textevidence
                        .margin30
                            h2.white.subtitle
                                a.white(href='events.html') СОБЫТИЯ
                        i.zoom.icon-music-2.iconbg.left.extrabig.orange.displaynone_ipadland.displaynone_ipadpotr
                .textevidence.width_percentage25.bg_green.shadow.radius_right
                    .textevidence
                        .margin30
                            h2.white.subtitle
                                a.white(href='teachers.html') УЧИТЕЛЯ
                        i.zoom.icon-graduation-cap-1.iconbg.left.extrabig.green.displaynone_ipadland.displaynone_ipadpotr
                .space5