.space100
.container#user-profile(ng-controller="profileCtrl")
    .grid.grid_3
        .section.bg_grey.shadow.radius_bottom#user-avatar-section
            div.avatar
                img(src='https://pp.vk.me/c616031/v616031475/1dc48/gckPT39UaqE.jpg')
            div.username
                h4(ng-bind='name')
                h5.status Новичок

            a(href='#').bg_green.medium.radius.white.add-friend Добавить в друзья
            a(href='#').bg_yellow.medium.radius.white.write-message Написать сообщение

    .grid.grid_9
        .section.bg_grey.shadow.radius_bottom#user-info-section
            #tabs
                ul
                    li
                        a(href='#tabs-1').tab-element.active
                            h4 Информация
                    li
                        a(href='#tabs-2').tab-element
                            h4 Сообщения
                    li
                        a(href='#tabs-3').tab-element
                            h4 Уведомления
                    li
                        a(href='#tabs-4').tab-element
                            h4 Настройки
                    li
                        a(href='#tabs-5').tab-element
                            h4 Статистика
                .space3.bg_gradient
                #tabs-1
                    style(type='text/css').
                        .tg {
                            margin: -2px;
                            border-collapse: collapse;
                            border-spacing: 0;
                        }

                        .tg td {
                            font-size: 14px;
                            padding: 10px 5px;
                            border-style: solid;
                            background: #1C6F89;
                            color: #fff;
                            border-color: transparent;
                            overflow: hidden;
                            word-break: normal;

                        }
                        .tg .tg-ksoi {
                            font-size: 13px;
                            text-align: left;
                            width: 500px;
                            color: #000;
                            font-family: sans-serif !important;
                            background: transparent;

                        }

                        .tg .tg-ksois {
                            font-size: 13px;
                            text-align: left;
                            width: 200px;
                            font-family: sans-serif !important;
                        }
                    table.tg
                        tr
                            td.tg-ksois Имя/Фамилия:
                            td.tg-ksoi Дмитрий
                        tr
                            td.tg-ksois Статус:
                            td.tg-ksoi Новичок
                        tr
                            td.tg-ksois Вуз/Школа/группа:
                            td.tg-ksoi НТУУ КПИ
                        tr
                            td.tg-ksois Информация о себе:
                            td.tg-ksoi
                                | валповлапо вапловадп валпов апвлаопдваоплвоапло влаопл,валповлапо,вапловадп валпов апвлаопдваоплвоапло влаопл,валповлапо вапловадп валпов,апвлаопдваоплвоапло влаопл,валповлапо вапловадп валпов,апвлаопдваоплвоапло влаопл,валповлапо вапловадп валпов,апвлаопдваоплвоапло влаопл,валповлапо вапловадп валпов,апвлаопдваоплвоапло влаопл,валповлапо вапловадп валпов,апвлаопдваоплвоапло влаопл,валповлапо вапловадп валпов,апвлаопдваоплвоапло влаопл
                        tr
                            td.tg-ksois Любимая группа:
                            td.tg-ksoi Математика
                        tr
                            td.tg-ksois Друзья:
                            td.tg-ksoi
                #tabs-2
                    h1 Сообщения
                #tabs-3
                    h1 Уведомления
                #tabs-4
                    h1 Настройки
                #tabs-5
                    h1 Статистика
            .space3.bg_gradient




