section.section
    .tp-banner-container
        .slide1
            ul
                // start first
                li(data-transition='fade', data-slotamount='7', data-masterspeed='500', data-saveperformance='on', data-title='FRIENDS')
                    img(src='images/slide/img3.jpg', alt='', data-lazyload='images/slide/img3.jpg', data-bgposition='center bottom', data-bgfit='cover', data-bgrepeat='no-repeat')
                // end first
                // start second
                li(data-transition='fade', data-slotamount='7', data-masterspeed='1000', data-saveperformance='on', data-title='LESSON')
                    img(src='images/slide/img8.jpg', alt='', data-lazyload='images/slide/img8.jpg', data-bgposition='center top', data-bgfit='cover', data-bgrepeat='no-repeat')
                // end second
