<div id="answer-section" class="grid grid_6">
    <div class="archive1 bg_grey radius shadow">
        <div class="clearfix"></div>
        <div id="answer-question-area">
            <div class="space10"></div>
            <h4 class="subtitle greydark">ОТВЕТЫ ГРУППЫ<span style="text-transform: uppercase"> {{groupName}}</span></h4>
            <div class="space10"></div><a onclick="$('#online-users-section').show()" id="go-to-online-users-section" href="#" class="green">&#8249; 12 человек онлайн</a>
            <div class="tab">
                <div class="tabs bg_grey radius">
                    <div id="tabs-1">
                        <div class="space10"></div>
                        <ul id="answer-list" style="padding-left: 0;">
                            <li class="question">
                                <div class="grid grid_1">
                                    <div class="user-avatar"><img ng-class='currentQuestion.status_class' ng-src="{{currentQuestion.user_avatar}}" alt="avatar" class="avatar"/>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="grid archive1 grid_4 radius shadow">
                                    <h4 class="small" ng-class='currentQuestion.status_class'>{{currentQuestion.username}}  <span class="user-status" ng-class='currentQuestion.status_class'>{{currentQuestion.status_name}}</span></h4><span class="time-update small">updated 2 min ago</span>
                                    <div class="space10"></div>
                                    <p class="small"> {{currentQuestion.question_text}}</p>
                                </div>
                            </li>
                            <li class="answer" ng-repeat="answer in answersData">
                                <div class="grid grid_1">
                                    <div class="user-avatar"><img ng-class='answer.status_class' ng-src="{{answer.user_avatar}}" alt="avatar" class="avatar"/>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="grid archive1 grid_4 radius shadow">
                                    <h4 class="small" ng-class='answer.status_class'>{{answer.username}} <span class="user-status" ng-class='answer.status_class'>{{answer.status_name}}</span></h4><span class="time-update small">updated 2 min ago</span>
                                    <div class="space10"></div>
                                    <p class="small">{{answer.answer_text}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="answer-question-area">
                    <div class="space10"></div>
                    <h4 class="subtitle greydark">ВАШ ОТВЕТ</h4>
                    <div class="space10"></div>
                    <div class="divider left big"><span class="bg_green radius"></span></div>
                    <div class="space10"></div>
                    <textarea placeholder="Введите ответ"></textarea>
                    <div class="space10"></div><a class="press right btn_icon bg_blue shadow radius white"><span>ВВОД</span></a>
                </div>
                <div class="space30"></div>
            </div>
        </div>
    </div>
</div>


<!--
<div id="online-users-section"  class="grid grid_6">
    <div class="archive1 bg_grey radius shadow">
        <div class="clearfix"></div>
        <div id="answer-question-area">
            <div class="space10"></div>
            <h4 class="subtitle greydark">12 ПОЛЬЗОВАТЕЛЕЙ ИЗУЧАЕТ<span> МАТЕМАТИКУ</span></h4>
            <div class="space10"></div>
            <div class="divider left big"><span class="bg_green radius"></span></div>
            <div class="space10"></div>
        </div>
        <div id="online-users-container">
            <ul>
                <li class="user">
                    <div class="grid">
                        <div class="user-avatar"><img src="images/avatar.png" alt="avatar" class="avatar person-1"/><a class="right btn_icon bg_red radius white profile-link"><span>Профайл</span></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="grid radius shadow status">
                        <h4 class="small">Username</h4><span class="time-update small">updated 2 min ago</span>
                        <div class="space10"></div>
                        <p class="small"> Lorem commodo lectus at sollicitudin elementum.</p>
                    </div>
                </li>
                <li class="user">
                    <div class="grid">
                        <div class="user-avatar"><img src="images/avatar.png" alt="avatar" class="avatar person-2"/><a class="right btn_icon bg_red radius white profile-link"><span>Профайл</span></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="grid radius shadow status">
                        <h4 class="small">Username</h4><span class="time-update small">updated 2 min ago</span>
                        <div class="space10"></div>
                        <p class="small"> Lorem commodo lectus at sollicitudin elementum.</p>
                    </div>
                </li>
                <li class="user">
                    <div class="grid">
                        <div class="user-avatar"><img src="images/avatar.png" alt="avatar" class="avatar person-3"/><a class="right btn_icon bg_red radius white profile-link"><span>Профайл</span></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="grid radius shadow status">
                        <h4 class="small">Username</h4><span class="time-update small">updated 2 min ago</span>
                        <div class="space10"></div>
                        <p class="small"> Lorem commodo lectus at sollicitudin elementum.</p>
                    </div>
                </li>
                <li class="user">
                    <div class="grid">
                        <div class="user-avatar"><img src="images/avatar.png" alt="avatar" class="avatar person-4"/><a class="right btn_icon bg_red radius white profile-link"><span>Профайл</span></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="grid radius shadow status">
                        <h4 class="small">Username</h4><span class="time-update small">updated 2 min ago</span>
                        <div class="space10"></div>
                        <p class="small"> Lorem commodo lectus at sollicitudin elementum.</p>
                    </div>
                </li>
                <li class="user">
                    <div class="grid">
                        <div class="user-avatar"><img src="images/avatar.png" alt="avatar" class="avatar person-3"/><a class="right btn_icon bg_red radius white profile-link"><span>Профайл</span></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="grid radius shadow status">
                        <h4 class="small">Username</h4><span class="time-update small">updated 2 min ago</span>
                        <div class="space10"></div>
                        <p class="small"> Lorem commodo lectus at sollicitudin elementum.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>