.grid.grid_6#answer-section
    .archive1.bg_grey.radius.shadow
        .clearfix
        #answer-question-area
            .space10
            h4.subtitle.greydark ОТВЕТЫ ГРУППЫ
                span  МАТЕМАТИКА
            .space10
            a#go-to-online-users-section.green(href='#') &#x27a4; 12 человек онлайн

            .tab
                .tabs.bg_grey.radius
                    #tabs-1
                        .space10
                        ul#answer-list(style='padding-left: 0;')
                            li.question
                                .grid.grid_1
                                    .user-avatar
                                        img(class='avatar' src='http://cs616031.vk.me/v616031475/1dc4c/6IRc-m_fIqs.jpg' alt='avatar').person-1
                                        .clearfix

                                .grid.archive1.grid_4.radius.shadow
                                    h4.small Username
                                    span.time-update.small updated 2 min ago
                                    .space10
                                    p.small  Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales.
                            li.answer
                                .grid.grid_1
                                    .user-avatar
                                        img(class='avatar' src='http://cs614826.vk.me/v614826831/1de66/oGj6jWuSR7I.jpg' alt='avatar').person-2
                                        .clearfix

                                .grid.archive1.grid_4.radius.shadow
                                    h4.small Username
                                    span.time-update.small updated 2 min ago
                                    .space10
                                    p.small  Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales.
                            li.answer
                                .grid.grid_1
                                    .user-avatar
                                        img(class='avatar' src='http://cs622028.vk.me/v622028874/21a75/GUPfD-pPI2Y.jpg' alt='avatar').person-3
                                        .clearfix

                                .grid.archive1.grid_4.radius.shadow
                                    h4.small Username
                                    span.time-update.small updated 2 min ago
                                    .space10
                                    p.small  Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales.
                            li.answer
                                .grid.grid_1
                                    .user-avatar
                                        img(class='avatar' src='../images/avatar.png' alt='avatar').person-4
                                        .clearfix

                                .grid.archive1.grid_4.radius.shadow
                                    h4.small Username
                                    span.time-update.small updated 2 min ago
                                    .space10
                                    p.small  Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales.

                            li.answer
                                .grid.grid_1
                                    .user-avatar
                                        img(class='avatar' src='http://cs622028.vk.me/v622028874/21a75/GUPfD-pPI2Y.jpg' alt='avatar').person-1
                                        .clearfix

                                .grid.archive1.grid_4.radius.shadow
                                    h4.small Username
                                    span.time-update.small updated 2 min ago
                                    .space10
                                    p.small  Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales.

                            li.answer
                                .grid.grid_1
                                    .user-avatar
                                        img(class='avatar' src='../images/avatar.png' alt='avatar').person-2
                                        .clearfix

                                .grid.archive1.grid_4.radius.shadow
                                    h4.small Username
                                    span.time-update.small updated 2 min ago
                                    .space10
                                    p.small  Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales.

                            li.answer
                                .grid.grid_1
                                    .user-avatar
                                        img(class='avatar' src='../images/avatar.png' alt='avatar').person-3
                                        .clearfix

                                .grid.archive1.grid_4.radius.shadow
                                    h4.small Username
                                    span.time-update.small updated 2 min ago
                                    .space10
                                    p.small  Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales.



                #ask-question-area
                    .space10
                    h4.subtitle.greydark ВАШ ОТВЕТ
                    .space10
                    .divider.left.big
                        span(class="bg_green radius")
                    .space10
                    textarea(placeholder='Введите ответ')
                    .space10
                    a.press.right.btn_icon.bg_blue.shadow.radius.white
                        span ВВОД
                .space30
