section.section
    // start container
    .container.clearfix
        .space50
        .grid.grid_12
            h1.subtitle.greydark БЛОГ
            .space20
            h3.subtitle.grey ЧИТАЙТЕ НАШ БЛОГ ОБ ОБРАЗОВАНИИ
            .space20
            .divider.left.big
                span.bg_blue.radius
            .space10
        .masonry_btns
            .margin10
                a.bg_grey2_hover.transition.btn.bg_grey.small.shadow.radius.grey(data-filter='*') ALL
            .margin10
                a.bg_grey2_hover.transition.btn.bg_grey.small.shadow.radius.grey(data-filter='.educational') EDUCATIONAL
            .margin10
                a.bg_grey2_hover.transition.btn.bg_grey.small.shadow.radius.grey(data-filter='.excursions') EXCURSIONS
            .space10
        // start masonry_container
        .masonry_container
            .grid.grid_4.masonry_item.educational
                .archive1.bg_blue.radius.shadow
                    a.zoom.btn_icon.bg_blue.border_bluedark.white.medium.radius_circle.absolute_left(href='single-post-right-sidebar.html')
                        i.icon-link-outline
                    img(alt='', src='images/blog/img1.jpg')
                    .margin20
                        h4.white OUR SCHOOL ANNIVERSARY
                        .space20
                        .divider.left.small
                            span.bg_white.radius
                        .space20
                        p.white
                            | Lorem ipsum dolor sit amet, consectetur adcing elit Lorem ipsum dolor sit amet, consectetur adip iscing elit psum dolor sit amet.
                        .space20
                        a.white.btn(href='single-post-right-sidebar.html')
                            i.icon-doc-text-1
                            |  Read More
                    i.icon-camera-outline.iconbg.right.medium.blue
            .grid.grid_4.masonry_item.excursions
                .archive1.bg_green.radius.shadow
                    .margin20
                        h4.white SEE OUR NEW DOWNLOAD AREA
                        .space20
                        .divider.left.small
                            span.bg_white.radius
                        .space20
                        p.white
                            | Lorem ipsum dolor sit amet, consectetur adcing elit Lorem ipsum dolor sit amet, consectetur adip iscing elit psum dolor sit amet.
                        .space20
                        a.white.btn(href='single-post-right-sidebar.html')
                            i.icon-doc-text-1
                            |  Read More
                    i.icon-pencil-1.iconbg.right.medium.green
            .grid.grid_4.masonry_item.educational
                .archive1.bg_violet.radius.shadow
                    a.zoom.btn_icon.bg_violet.border_violetdark.white.medium.radius_circle.absolute_left(href='single-post-right-sidebar.html')
                        i.icon-link-outline
                    img(alt='', src='images/blog/img2.jpg')
                    .margin20
                        h4.white SAY HALLO TO OUR TEACHERS
                    i.icon-picture-outline.iconbg.right.medium.violet
            .grid.grid_4.masonry_item.excursions
                .archive1.bg_orange.radius.shadow
                    a.zoom.btn_icon.bg_orange.border_orangedark.white.medium.radius_circle.absolute_left(href='single-post-right-sidebar.html')
                        i.icon-link-outline
                    img(alt='', src='images/blog/img4.jpg')
                    .margin20
                        h4.white MUSIC ACTIVITIES FOR ALL
                    i.icon-camera-outline.iconbg.right.medium.orange
            .grid.grid_4.masonry_item.excursions
                .archive1.bg_red.radius.shadow
                    a.zoom.btn_icon.bg_red.border_reddark.white.medium.radius_circle.absolute_left(href='single-post-right-sidebar.html')
                        i.icon-link-outline
                    img(alt='', src='images/blog/img3.jpg')
                    .margin20
                        h4.white CHRISTMAS PARTY !
                        .space20
                        .divider.left.small
                            span.bg_white.radius
                        .space20
                        p.white
                            | Lorem ipsum dolor sit amet, consectetur adcing elit Lorem ipsum dolor sit amet, consectetur adip iscing elit psum dolor sit amet.
                        .space20
                        a.white.btn(href='single-post-right-sidebar.html')
                            i.icon-doc-text-1
                            |  Read More
                    i.icon-pencil-1.iconbg.right.medium.red
            .grid.grid_4.masonry_item.excursions
                .archive1.bg_green.radius.shadow
                    a.zoom.btn_icon.bg_green.border_greendark.white.medium.radius_circle.absolute_left(href='single-post-right-sidebar.html')
                        i.icon-link-outline
                    img(alt='', src='images/blog/img5.jpg')
                    .margin20
                        h4.white BIO SPECIAL MEAL
                        .space20
                        .divider.left.small
                            span.bg_white.radius
                        .space20
                        p.white
                            | Lorem ipsum dolor sit amet, consectetur adcing elit Lorem ipsum dolor sit amet, consectetur adip iscing elit psum dolor sit amet.
                        .space20
                        a.white.btn(href='single-post-right-sidebar.html')
                            i.icon-doc-text-1
                            |  Read More
                    i.icon-picture-outline.iconbg.right.medium.green
            .grid.grid_4.masonry_item.educational
                .archive1.bg_yellow.radius.shadow
                    a.zoom.btn_icon.bg_yellow.border_yellowdark.white.medium.radius_circle.absolute_left(href='single-post-right-sidebar.html')
                        i.icon-link-outline
                    img(alt='', src='images/blog/img7.jpg')
                    .margin20
                        h4.white BEST COOKING ACTIVITIES !
                        .space20
                        .divider.left.small
                            span.bg_white.radius
                        .space20
                        p.white
                            | Lorem ipsum dolor sit amet, consectetur adcing elit Lorem ipsum dolor sit amet, consectetur adip iscing elit psum dolor sit amet.
                        .space20
                        a.white.btn(href='single-post-right-sidebar.html')
                            i.icon-doc-text-1
                            |  Read More
                    i.icon-picture-outline.iconbg.right.medium.yellow
            .grid.grid_4.masonry_item.excursions
                .archive1.bg_blue.radius.shadow
                    a.zoom.btn_icon.bg_blue.border_bluedark.white.medium.radius_circle.absolute_left(href='single-post-right-sidebar.html')
                        i.icon-link-outline
                    img(alt='', src='images/blog/img8.jpg')
                    .margin20
                        h4.white END OF THE SCHOOL YEAR
                        .space20
                        .divider.left.small
                            span.bg_white.radius
                        .space20
                        p.white
                            | Lorem ipsum dolor sit amet, consectetur adcing elit Lorem ipsum dolor sit amet, consectetur adip iscing elit psum dolor sit amet.
                        .space20
                        a.white.btn(href='single-post-right-sidebar.html')
                            i.icon-doc-text-1
                            |  Read More
                    i.icon-camera-outline.iconbg.right.medium.blue
            .grid.grid_4.masonry_item.excursions
                .archive1.bg_orange.radius.shadow
                    a.zoom.btn_icon.bg_orange.border_orangedark.white.medium.radius_circle.absolute_left(href='single-post-right-sidebar.html')
                        i.icon-link-outline
                    img(alt='', src='images/blog/img6.jpg')
                    .margin20
                        h4.white EXCURSION PRESENTATION
                    i.icon-picture-outline.iconbg.right.medium.orange
            .grid.grid_4.masonry_item.excursions
                .archive1.bg_red.radius.shadow
                    .margin20
                        h4.white DOCTOR IN THE SCHOOL
                        .space20
                        .divider.left.small
                            span.bg_white.radius
                        .space20
                        p.white
                            | Lorem ipsum dolor sit amet, consectetur adcing elit Lorem ipsum dolor sit amet, consectetur adip iscing elit psum dolor sit amet.
                        .space20
                        a.white.btn(href='single-post-right-sidebar.html')
                            i.icon-doc-text-1
                            |  Read More
                    i.icon-pencil-1.iconbg.right.medium.red

section.section
    // start container
    .container.clearfix
        .space30
        .grid.grid_12
            .textevidence.center
                a.zoom.btn.bg_blue.medium.shadow.radius.white.margin10(href='blog-masonry.html')
                    i.icon-th-outline
                    |    БОЛЬШЕ НОВОСТЕЙ
        .space40

.space3.bg_gradient
