.space50
.space10
.space30
.grid.grid_12
    .archive1.bg_grey.radius.shadow#choose-group
        .grid_12


            select#select-group
                option(selected disabled) Выберите группу, чтобы задать вопрос...
                div
                    optgroup(label="Математика")
                        option(value="c1") Математика
                        option(value="c1") Математика
                        option(value="c1") Математика
                    optgroup(label="Физика")
                        option(value="c1") Математика
                        option(value="c1") Математика
                        option(value="c1") Математика
                    optgroup(label="Биология")
                        option(value="c1") Математика
                        option(value="c1") Математика
                        option(value="c1") Математика


