.space50
.space10
.space30
.grid.grid_6
    .archive1.bg_grey.radius.shadow#choose-group
        .grid_6

            a(href='math') Математика
            a(href='biology') Биология
            a(href='programming') Программирование

            select#select-group
                option(selected disabled) Выберите группу, чтобы задать вопрос...
                div
                    optgroup(label="Математика")
                        option(value="c1")
                            a(href='study/biology') Математика
                        option(value="c1") Математика
                        option(value="c1") Математика
                    optgroup(label="Физика")
                        option(value="c1") Математика
                        option(value="c1") Математика
                        option(value="c1") Математика
                    optgroup(label="Биология")
                        option(value="c1") Математика
                        option(value="c1") Математика
                        option(value="c1") Математика


