section.section
    // start container
    .container.clearfix
        .space50
        .grid.grid_12
            h1.subtitle.greydark СОБЫТИЯ
            .space20
            h3.subtitle.grey НЕ ПРОПУСТИТЕ СОБЫТИЯ В МИРЕ ОБРАЗОВАНИЯ
            .space20
            .divider.left.big
                span.bg_green.radius
            .space10
        .grid.grid_3
            // archive1
            .archive1.bg_green.radius.shadow
                a.btn.bg_greydark.white.medium.radius.absolute_left(href='single-event.html')
                    | 21
                    br
                    small DEC
                img(alt='', src='images/events/img1.jpg')
                .textevidence.bg_greydark
                    h4.white.margin20 A DAY IN THE PARK
                .margin20
                    h5.white
                        i.icon-pin-outline
                        |  New York, Times Square
                    .space10
                    h5.white
                        i.icon-clock-1
                        |  9:00 To 14:00
                    .space20
                    .divider.left.small
                        span.bg_white.radius
                    .space20
                    p.white
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt rutrum.
                    .space20
                    a.press.btn.bg_greendark.white.radius.shadow.medium(href='single-event.html') CHECK IT
            // archive1
        .grid.grid_3
            // archive1
            .archive1.bg_blue.radius.shadow
                a.btn.bg_greydark.white.medium.radius.absolute_left(href='single-event.html')
                    | 10
                    br
                    small MAY
                img(alt='', src='images/events/img2.jpg')
                .textevidence.bg_greydark
                    h4.white.margin20 ART SESSION
                .margin20
                    h5.white
                        i.icon-pin-outline
                        |  Our School
                    .space10
                    h5.white
                        i.icon-clock-1
                        |  9:00 To 14:00
                    .space20
                    .divider.left.small
                        span.bg_white.radius
                    .space20
                    p.white
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt rutrum.
                    .space20
                    a.press.btn.bg_bluedark.white.radius.shadow.medium(href='single-event.html') CHECK IT
            // archive1
        .grid.grid_3
            // archive1
            .archive1.bg_yellow.radius.shadow
                a.btn.bg_greydark.white.medium.radius.absolute_left(href='single-event.html')
                    | 24
                    br
                    small MAR
                img(alt='', src='images/events/img3.jpg')
                .textevidence.bg_greydark
                    h4.white.margin20 WATERCOLOR PRACTICE
                .margin20
                    h5.white
                        i.icon-pin-outline
                        |  Secondary School
                    .space10
                    h5.white
                        i.icon-clock-1
                        |  9:00 To 14:00
                    .space20
                    .divider.left.small
                        span.bg_white.radius
                    .space20
                    p.white
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt rutrum.
                    .space20
                    a.press.btn.bg_yellowdark.white.radius.shadow.medium(href='single-event.html') CHECK IT
            // archive1
        .grid.grid_3
            // archive1
            .archive1.bg_orange.radius.shadow
                a.btn.bg_greydark.white.medium.radius.absolute_left(href='single-event.html')
                    | 30
                    br
                    small DEC
                img(alt='', src='images/events/img4.jpg')
                .textevidence.bg_greydark
                    h4.white.margin20 SPORT TRAINING
                .margin20
                    h5.white
                        i.icon-pin-outline
                        |  Central Park (NY)
                    .space10
                    h5.white
                        i.icon-clock-1
                        |  9:00 To 14:00
                    .space20
                    .divider.left.small
                        span.bg_white.radius
                    .space20
                    p.white
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt rutrum.
                    .space20
                    a.press.btn.bg_orangedark.white.radius.shadow.medium(href='single-event.html') CHECK IT
            // archive1
        .space50