.grid.grid_6#online-users-section
    .archive1.bg_grey.radius.shadow
        .clearfix
        #answer-question-area
            .space10
            h4.subtitle.greydark 12 ПОЛЬЗОВАТЕЛЕЙ ИЗУЧАЕТ
                span  МАТЕМАТИКУ
            .space10
            .divider.left.big
                span(class="bg_green radius")
            .space10

        #online-users-container
            ul
                li.user
                    .grid
                        .user-avatar
                            img(class='avatar' src='../images/avatar.png' alt='avatar').person-1
                            a.right.btn_icon.bg_red.radius.white.profile-link
                                span Профайл
                            .clearfix

                    .grid.radius.shadow.status
                        h4.small Username
                        span.time-update.small updated 2 min ago
                        .space10
                        p.small  Lorem commodo lectus at sollicitudin elementum.
                li.user
                    .grid
                        .user-avatar
                            img(class='avatar' src='../images/avatar.png' alt='avatar').person-2
                            a.right.btn_icon.bg_red.radius.white.profile-link
                                span Профайл
                            .clearfix

                    .grid.radius.shadow.status
                        h4.small Username
                        span.time-update.small updated 2 min ago
                        .space10
                        p.small  Lorem commodo lectus at sollicitudin elementum.
                li.user
                    .grid
                        .user-avatar
                            img(class='avatar' src='../images/avatar.png' alt='avatar').person-3
                            a.right.btn_icon.bg_red.radius.white.profile-link
                                span Профайл
                            .clearfix

                    .grid.radius.shadow.status
                        h4.small Username
                        span.time-update.small updated 2 min ago
                        .space10
                        p.small  Lorem commodo lectus at sollicitudin elementum.
                li.user
                    .grid
                        .user-avatar
                            img(class='avatar' src='../images/avatar.png' alt='avatar').person-4
                            a.right.btn_icon.bg_red.radius.white.profile-link
                                span Профайл
                            .clearfix

                    .grid.radius.shadow.status
                        h4.small Username
                        span.time-update.small updated 2 min ago
                        .space10
                        p.small  Lorem commodo lectus at sollicitudin elementum.
                li.user
                    .grid
                        .user-avatar
                            img(class='avatar' src='../images/avatar.png' alt='avatar').person-3
                            a.right.btn_icon.bg_red.radius.white.profile-link
                                span Профайл
                            .clearfix

                    .grid.radius.shadow.status
                        h4.small Username
                        span.time-update.small updated 2 min ago
                        .space10
                        p.small  Lorem commodo lectus at sollicitudin elementum.