
.grid.grid_6
    .archive1.bg_grey.radius.shadow#profile-block
        .grid_6
            ul#indicators
                li
                    a(href='#')
                        i.icon-mail-alt
                    div.count-container
                        span.count-number 12
                li
                    a(href='#')
                        i.icon-comment-2
                    div.count-container
                        span.count-number 67
                li
                    a(href='#')
                        i.icon-comment-1
                    div.count-container
                        span.count-number 24
                li
                    a(href='#')
                        i.icon-picture
                    div.count-container
                        span.count-number 87
            .user-block.person-1
                a(href='/profile' title='Перейти в профайл')
                    img(class='avatar' src='http://cs616031.vk.me/v616031475/1dc4c/6IRc-m_fIqs.jpg' alt='avatar')

        .grid_6#user-progress
            ul#indicators
                li
                    a(href='#')
                        i.icon-mail-alt
                    div.count-container
                        span.count-number 12
                li
                    a(href='#')
                        i.icon-comment-2
                    div.count-container
                        span.count-number 67
                li
                    a(href='#')
                        i.icon-comment-1
                    div.count-container
                        span.count-number 24
                li
                    a(href='#')
                        i.icon-picture
                    div.count-container
                        span.count-number 87
            .user-block.person-1
                a(href='/profile' title='Перейти в профайл')
                    img(class='avatar' src='' alt='avatar')
            ul#indicators
                li
                    a(href='#')
                        i.icon-mail-alt
                    div.count-container
                        span.count-number 12
                li
                    a(href='#')
                        i.icon-comment-2
                    div.count-container
                        span.count-number 67
                li
                    a(href='#')
                        i.icon-comment-1
                    div.count-container
                        span.count-number 24
                li
                    a(href='#')
                        i.icon-picture
                    div.count-container
                        span.count-number 87
            .user-block.person-1
                a(href='/profile' title='Перейти в профайл')
                    img(class='avatar' src='' alt='avatar')