section#parallax_counter.section.imgparallax.parallax_img1
    .filter.greydark
        // start container
        .container.clearfix
            .space40
            .space50
            .grid.grid_3
                .textevidence.center
                    a.width50.white.btn.bg_blue.bg_bluedark_hover.transition.shadow.extrasize.radius_circle.subtitle.counter(href='#', data-to='69', data-speed='1000') 69
                    .space20
                    h4.white ПОЛЬЗОВАТЕЛЕЙ
            .grid.grid_3
                .textevidence.center
                    a.width50.white.btn.bg_green.bg_greendark_hover.transition.shadow.extrasize.radius_circle.subtitle.counter(href='#', data-to='32', data-speed='1000') 32
                    .space20
                    h4.white КУРСОВ
            .grid.grid_3
                .textevidence.center
                    a.width50.white.btn.bg_yellow.bg_yellowdark_hover.transition.shadow.extrasize.radius_circle.subtitle.counter(href='#', data-to='48', data-speed='1000') 48
                    .space20
                    h4.white ВОПРОСОВ
            .grid.grid_3
                .textevidence.center
                    a.width50.white.btn.bg_violet.bg_violetdark_hover.transition.shadow.extrasize.radius_circle.subtitle.counter(href='#', data-to='72', data-speed='1000') 72
                    .space20
                    h4.white ОТВЕТОВ
            .space40
            .space50
