#parallax_2_btns.section.imgparallax.parallax_img2
    // start container
    .container.clearfix
        .space40
        .space50
        .grid.grid_6.aligncenter_iphoneland.aligncenter_iphonepotr
            a.disable_floatright_iphoneland.disable_floatright_iphonepotr.btn.bg_blue.medium.right.shadow.radius.white.press(href='courses.html')
                i.icon-th-outline
                |    ВСЕ КУРСЫ
        .grid.grid_6.aligncenter_iphoneland.aligncenter_iphonepotr
            a.btn.bg_blue.medium.shadow.radius.white.press(href='/study')
                i.icon-pencil-1
                |    НАЧАТЬ УЧЕБУ
        .space40
        .space50
