section.section
    // start container
    .container.clearfix
        .space50
        .grid.grid_12
            h1.subtitle.greydark ЧТО МОЖНО ДЕЛАТЬ НА STUDYSTAR
            .space20
            h3.subtitle.grey OUR BEST SERVICES FOR YOUR KIDS
            .space20
            .divider.left.big
                span.bg_yellow.radius
            .space10
        .grid.grid_4.relative
            .btn_iconbg.bg_yellow.absolute.extrabig.shadow.radius
                div
                    i.icon-leaf-1.iconbg.left.big.white
            .activity.marginleft100
                h4 CUSTOM FOOD
                .space20
                p
                    | Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.
                .space20
                a.btn.grey(href='#')
                    i.icon-right-open-outline
                    |  More
                .space20
        .grid.grid_4.relative
            .btn_iconbg.bg_orange.absolute.extrabig.shadow.radius
                div
                    i.icon-stopwatch.iconbg.left.big.white
            .activity.marginleft100
                h4 MANY SPORTS
                .space20
                p
                    | Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.
                .space20
                a.btn.grey(href='#')
                    i.icon-right-open-outline
                    |  More
                .space20
        .grid.grid_4.relative
            .btn_iconbg.bg_green.absolute.extrabig.shadow.radius
                div
                    i.icon-cab.iconbg.left.big.white
            .activity.marginleft100
                h4 BUS SERVICE
                .space20
                p
                    | Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.
                .space20
                a.btn.grey(href='#')
                    i.icon-right-open-outline
                    |  More
                .space20
        .grid.grid_4.relative
            .btn_iconbg.bg_blue.absolute.extrabig.shadow.radius
                div
                    i.icon-headphones-1.iconbg.left.big.white
            .activity.marginleft100
                h4 MUSIC LESSON
                .space20
                p
                    | Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.
                .space20
                a.btn.grey(href='#')
                    i.icon-right-open-outline
                    |  More
        .grid.grid_4.relative
            .btn_iconbg.bg_violet.absolute.extrabig.shadow.radius
                div
                    i.icon-map.iconbg.left.big.white
            .activity.marginleft100
                h4 EXCURSIONS
                .space20
                p
                    | Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.
                .space20
                a.btn.grey(href='#')
                    i.icon-right-open-outline
                    |  More
        .grid.grid_4.relative
            .btn_iconbg.bg_red.absolute.extrabig.shadow.radius
                div
                    i.icon-globe-2.iconbg.left.big.white
            .activity.marginleft100
                h4 LANGUAGES
                .space20
                p
                    | Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.
                .space20
                a.btn.grey(href='#')
                    i.icon-right-open-outline
                    |  More
        .space50